<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<string>$(SUEnableAutomaticChecks)</string>
	<key>SUFeedURL</key>
	<string>$(SUFeedURL)</string>
	<key>SUPublicEDKey</key>
	<string>$(SUPublicEDKey)</string>
</dict>
</plist>
